<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- TODO:
        1. maks lengde 150 chars
        2. Navn skal være fet skrift og understreket.
        3. meldinger høyre og venstre side annenhver gang 
        -->
        <h1>2IT Kose-Chat</h1>
        <form action="/nymelding" method="post" id="meldingForm">
            <label for="inpNavn">Ditt navn:</label><br />
            <input type="text" id="inpNavn" name="navn" required/><br>
            <label for="inpMelding">Skriv ny melding:</label><br />
            <input type="text" id="inpMelding" name="melding" />
            <!-- TODO: legg til navn input-felt. Og vis navnet som en del
            av meldingen. F.eks. 
            Arne: Morn dere
            Per: Halla, Arne. Står til? -->

        </form>

        <!-- Finn ut hvordan du kan bruke setInterval til å oppdatere meldinger hvert 0.5 sek -->

        <% if(locals.meldinger) { %>
        <div class="meldingerContainer">
            <!-- For hver melding, lag et nytt p element, og plasser meldingen i
            elementet.  -->
            <!-- 1. Slett alt innhold i meldingerContainer: TODO senere -->
           
            <% for(let i=meldinger.length-1; i >= 0; i--) { %>
                <% if(navnene[i] === "qwerty") { %>
                    <h1>2itadmin: <%= meldinger[i] %></h1>
                    <% } else{  %>
            <p><%= navnene[i] %>: <%= meldinger[i] %></p>
            <% } %>
            <% } %>
        </div>
        <% } %>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var input = document.getElementById("inpMelding");
                input.addEventListener("keypress", function (event) {
                    if (event.key === "Enter") {
                        event.preventDefault(); // Forhindre at ENTER legger til en ny linje
                        // Slett gamle meldinger:
                        document.querySelector(".meldingerContainer").innerHTML = "";
                        document.getElementById("meldingForm").submit(); // Send skjemaet
                    }
                });
            });

        </script>
    </body>
</html>
