<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- navn, navnGjest, alder, tid, sted -->
    <h1>Invitasjon til <%= navn >s bursdag</h1>
    <h3>[Kari] fyller [20] år og vil invitere deg, 
        kjære [Gunnar].
    </h3>
    <p>Bursdagen foregår [kl. 1200 førstkommende lørdag] på [Nannestad kommunehus].</p>
    <p>Håper du vil komme.</p>
</body>
</html>