<div id="blurOverlay"></div>

    <div class="center-wrapper">
    <section class="galleri">
        <figure>
            <img id="testbilde" src="https://picsum.photos/400?random=1" alt="">
            <figcaption>
            <h4>Tittel</h4>
            <p>Beskrivelse</p>
                <p>2449,-</p>
            </figcaption>
        </figure>
        <figure>
            <img src="https://picsum.photos/400?random=2" alt="">
            <figcaption>
                <h4>Tittel</h4>
                <p>Beskrivelse</p>
                <p>2449,-</p>
            </figcaption>
        </figure>
        <figure>
            <img src="https://picsum.photos/400?random=3" alt="">
            <figcaption>
                <h4>Tittel</h4>
                <p>Beskrivelse</p>
                <p>2449,-</p>
            </figcaption>
        </figure>
        <figure>
            <img src="https://picsum.photos/400?random=4" alt="">
            <figcaption>
                <h4>Tittel</h4>
                <p>Beskrivelse</p>
                <p>2449,-</p>
            </figcaption>
        </figure>
        <figure>
            <img src="https://picsum.photos/400?random=5" alt="">
            <figcaption>
                <h4>Tittel</h4>
                <p>Beskrivelse</p>
                <p>2449,-</p>
            </figcaption>
        </figure>
        <figure>
            <img src="https://picsum.photos/400?random=6" alt="">
            <figcaption>
                <h4>Tittel</h4>
                <p>Beskrivelse</p>
                <p>2449,-</p>
            </figcaption>
        </figure>
    </section>