<%- include("partials/header.ejs") %>

<h2>Takk for din melding, <%= navn %></h2>
<p>Du mottar en bekreftelse på din epost <%= epost %> straks.</p>
<p>Din melding:</p>
<hr>
<p><%= melding %></p>
<hr>
<h3>Ha en fin dag!</h3>
<a href="/">
<button>Gå tilbake.</button>
</a>
