<%- include("partials/header.ejs") %>

<div id="blurOverlay"></div>

<%- include("partials/galleri") %>
    
    <section class="kontakt">
        
        <form action="/submit-form" method="POST">
            <h2>Kontakt- og bestillingsskjema</h2>
            <label for="inpEmne">Emne:</label>
            <input type="text" id="inpEmne" name="emne">
            <label for="inpMelding">Melding:</label>
            <textarea id="inpMelding" name="melding"></textarea>
            <label for="inpEpost">E-post:</label>
            <input type="email" id="inpEpost" name="epost">
            <label for="inpNavn">Navn:</label>
            <input type="text" id="inpNavn" name="navn">
            <input type="submit" value="Send melding">
        </form>
        
    </section>
</div>

<%- include("partials/footer.ejs") %>