<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
  <% if (locals.navnLengde) { %>
  <h1>Du har <%= navnLengde %> bokstaver i navnet ditt.</h1>
  <% } else {%>
  <h1>Skriv inn fornavn og etternavn og få vite antall bokstaver i navnet ditt.</h1>
  <% } %>
  
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
</body>

</html>