<%- include("partials/header.ejs") %>
<h2>Elev-innlogging</h2>
<form action="/elevloginsubmit" method="post">
    <label for="inpUser">Brukernavn:</label><br>
    <input type="text" id="inpUser" name="brukernavn"><br>
    <label for="inpPass">Passord:</label><br>
    <input type="text" id="inpPass" name="passord"><br>¨
    <input type="submit" value="Logg inn">
</form>

<!-- TODO: bruk ejs til å sjekke om brukeren er logget inn, og vis deretter info om eleven -->