<%- include("partials/header.ejs") %>
    
      <h2>Hvem er du?</h2>
      <a href="/elevlogin">
        <button >Elev</button>
      </a>
      <a href="/larerlogin">
        <button >Lærer</button>
      </a>
</body>
</html>